[Unit]
Description=File manager daemon
After=multi-user.target

[Service]
Restart=always
RestartSec=30
WorkingDirectory=/home/vova/PycharmProjects/DR_WEB_text
ExecStart=/home/vova/PycharmProjects/DR_WEB_test/venv/bin/python -m api

[Install]
WantedBy=multi-user.target